@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url(ddd.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 25px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    text-align: center;
    color: #000000;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navigation a {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    background-color: #03a3ffcf;
    border-radius: 20px;
    transform: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child) {
    margin-right: 30px;
}

header .navigation a:hover {
    background: #111dc8;
}

.content {
    max-width: 650px;
    margin: 60px 100px;
}

.content .info h2 {
    text-align: center;
    color: #ffffff;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
    padding: 2px 15px;
    background-color: #03a3ffcf;
    border-radius: 20px;
    transform: 0.3s;
    transition-property: background;
}

.content .info h2 span {
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    font-weight: 600;
}

.content .info p {
    position: relative;
    text-align: center;
    color: #000000;
    font-size: 20px;
    margin-bottom: 40px;
    letter-spacing: 2px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    background-color: #03a3ffcf;
}

.media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a{
    position: relative;
    color: rgb(255, 129, 33);
    font-size: 40px;
    transition: 0.3s;
    transition-property: transform;
}

.media-icons a:not(:last-child) {
    margin-right: 60px;
}

.media-icons a:hover{
    transform: scale(1.5);
}

label {
    display: none;
}

#check {
    z-index: 3;
    display: none;
}

/* Responsive Buttons */

@media (max-width: 960px) {
    header .navigation {
        display: none;
    }

    label {
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }

    label:hover {
        color: #fff;
    }

    label .close-btn {
        display: none;
    }
    #check:checked ~ header .navigation {
        z-index: 2;
        position: fixed;
        background: #03a3ffcf;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #check:checked ~ header .navigation a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }

    #check:checked ~ header label .menu-btn {
        display: none
    }

    #check:checked ~ header label .close-btn {
        z-index: 2;
        display: block;
        position: fixed;
    }

    label .menu-btn {
        position: absolute;
    }

    header .logo {
        position: absolute;
        bottom: -6px;
    }

    .content .info h2 {
        font-size: 45px;
        line-height: 50px;
    }

    .content .info h2 span {
        font-size: 40px;
        font-weight: 600;
    }
    .content .info p {
        font-size: 14px;
    }
}

@media (max-widtH: 560PX) {
    .content .info h2 {
        font-size: 35px;
        line-height: 50px;
    }

    .content .info h2 span {
        font-size: 30px;
        font-weight: 600;
    }
    .content .info p {
        font-size: 14px;
    }
}
